.certificates{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    gap: 20px;
}

.certificates:hover {
    border-radius: 8px;
    background-color: rgba(146, 206, 197, 0.168);
    border: solid 0.2px rgba(255, 255, 255, 0.167);
}

.image{
    width: 40%;
    margin-top: 6px;
}

.infoCertificates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%; /* Certifique-se de que a largura seja consistente */
    gap: 14px;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #E0E0E0;
    align-items: center;
    position: relative;
}

.projects:hover .title {
    color: #5EEAD4;
}

.icon {
    transition: transform 0.3s ease, color 0.3s ease;
}

.projects:hover .icon {
    transform: translate(5px, -5px);
}

.body p{
    color: #94A3B8;
}

.links {
    color: #E0E0E0;
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.links ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 0.8rem;
}

.technology ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.technology ul li {
    color: rgba(94, 234, 212, 1);
    background-color: rgba(45, 212, 191, 0.1);
    padding: 8px;
    border-radius: 18px;
    font-size: 0.7rem;
    font-weight: 300;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    border-radius: 12px;

    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1000px) {
    
}